/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #292929;
}

.logo {
    flex: 0 1 auto;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 0.3s ease;
}

/* Main content sections */
main section {
    padding: 2em;
}

/* Registration form */
.form-container {
    background: linear-gradient(145deg, #6e48aa, #9d50bb);
    padding: 50px;
    border-radius: 40px;
    max-width: 680px;
    width: 90%;
    margin: 4em auto;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.form-container:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fff;
    color: #333;
}

.form-container button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #369b36;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: #1f1f1f;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Additional Components CSS */

.profile-sections {
    margin-top: 2rem;
}

.profile-sections section {
    background: #262626; /* Darker background for sections */
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.profile-sections h3 {
    color: #000000;
    margin-bottom: 0.5rem;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories li {
    background: #333;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.graph-container {
    background: #333;
    padding: 1rem;
    border-radius: 4px;
}

.achievement {
    background: #333;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

#character-customization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Высота экрана минус navbar и footer */
    background-color: #171717; /* Фоновый цвет, соответствующий дизайну */
}

#character-container {
    /* Стили для контейнера персонажа */
    background-color: #4fad44; /* Серый фон за персонажем */
    border-radius: 50%;
    width: 500px; /* или подходящий размер */
    height: 500px; /* или подходящий размер */
    display: flex;
    align-items: center;
    justify-content: center;
}

#character-container img {
    width: 100%; /* Подгонка изображения под размер контейнера */
    height: auto;
    border-radius: 50%; /* Делаем изображение круглым */
}

#customization-options {
    /* Стили для кнопок кастомизации */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#customization-options button {
    background-color: #ffffff; /* Цвет фона кнопок */
    border: none;
    border-radius: 20px; /* Скругленные углы */
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#customization-options button:hover {
    background-color: #ffffff; /* Цвет при наведении */
}
