<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/About.css">
</head>
<body>
<div class="about-container">
    <h1>About Us</h1>
    <p>Welcome to our page! We are passionate about building healthy habits.</p>

    <h2>Connect with us:</h2>
    <div class="social-links">
        <a href="https://www.instagram.com/_anelk4_?igsh=YXg2MzBlZG8xNTJu" target="_blank">Anelk4</a>
        <a href="https://www.instagram.com/ak.jeannn?igsh=MWc0OHo2MmZ5ZHczNQ==" target="_blank">Ak.Jeannn</a>
        <a href="https://www.instagram.com/sako.hv?igsh=dGFiZ3o1Nm54ZXdj" target="_blank">Sako.hv</a>
        <a href="https://wa.me/87769945429" target="_blank">+7 776 994 5429</a>
    </div>
</div>
</body>
</html>
