<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="About">About As</a>
            <a href="#birdene_page">Profile</a>
        </div>
        <div class="logo">H</div>
        <div class="nav-links">
            <a href="profile">Login</a>
            <a href="login">Sign In</a>
        </div>
    </nav>
</header>

<main>
    <section id="character-customization">
        <div id="character-container">
            <!-- Персонаж будет здесь -->
            <img src="path_to_your_character_image.png" alt="Customizable Character">
        </div>
        <div id="customization-options">
            <!-- Опции для кастомизации персонажа -->
            <button>Water</button>
            <button>Sleep</button>
            <button>Eat</button>
            <!-- Добавьте дополнительные кнопки по необходимости -->
        </div>
    </section>
</main>

<footer>
    <p>&copy; Habits.corporation</p>
</footer>
</body>
</html>
