<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="form-container">
    <h2>Вход</h2>
    <!-- Обратите внимание на изменение поля email на username -->
    <form action="/login" method="post">
        <input type="text" placeholder="Имя пользователя или электронная почта" name="username" required>
        <input type="password" placeholder="Пароль" name="password" required>
        <!-- Важно добавить CSRF токен в форму для защиты -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit">Войти</button>
    </form>
    <button onclick="window.location.href='/register';">Регистрация</button>
</div>
</body>
</html>
